<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	</head>
	<body>

		<div data-role="page" id="pageone">
			<div data-role="header">
				<a href="index.html" 
					class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">主页</a>
				<h1>l拉拉</h1>
				<a href="#" class="ui-btn ui-icon-search ui-btn-icon-left">搜索</a>
			</div>
			<div data-role="content">
				<div  datai-inset="true" class="ui-shadow">
					<div class="comic-detail" style="width: 35%;">
						<img src="https://www.runoob.com/try/demo_source/chrome.png" alt="">
					</div>
					<div class="comic-detail" style="width: 60%;">
						 <label>标题:国民男神缠上身</label>
						 <label>得分:8.9</label>
						 <label>标签:恋爱都市</label>
						 <label>作者:哔次元漫画</label>
						 <label>阅读量:3.4亿</label>
					</div>
				</div>
				<ul data-role="listview" data-inset="true">
					<li>
						<a href="reader.html" data-transition="slidefade"><img src="https://www.runoob.com/try/demo_source/chrome.png">
							<span>西天取经藏惊天阴谋</span>
						</a>
					</li>
					<li>
						<a href="reader.html" data-transition="slidefade"><img src="https://www.runoob.com/try/demo_source/firefox.png">
							<span>西天取经藏惊天阴谋</span>
						</a>
					</li>
					<li>
						<a href="reader.html" data-transition="slidefade"><img src="https://www.runoob.com/try/demo_source/firefox.png">
							<span>西天取经藏惊天阴谋</span>
						</a>
					</li>
					<li>
						<a href="reader.html" data-transition="slidefade"><img src="https://www.runoob.com/try/demo_source/firefox.png">
							<span>西天取经藏惊天阴谋</span>
						</a>
					</li>
					<li>
						<a href="reader.html" data-transition="slidefade"><img src="https://www.runoob.com/try/demo_source/firefox.png">
							<span>西天取经藏惊天阴谋</span>
						</a>
					</li>
					<li>
						<a href="reader.html" data-transition="slidefade"><img src="https://www.runoob.com/try/demo_source/firefox.png">
							<span>西天取经藏惊天阴谋</span>
						</a>
					</li>
					<li>
						<a href="reader.html" data-transition="slidefade"><img src="https://www.runoob.com/try/demo_source/firefox.png">
							<span>西天取经藏惊天阴谋</span>
						</a>
					</li>
				</ul>

			</div>
			<div data-role="footer">
				<h1>底部文本</h1>
			</div>
		</div>

	</body>
	
	<style type="text/css">
		.comic-detail{
			border: 1px black solid;
			width: 40%;
			height: auto;
			display: inline-block;
		}
	</style>
</html>
