<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		
	</head>
	<body>

		<div data-role="page" id="pageone">
			<div data-role="header">
				 <a href="/mh/detail/{{ data.b_id }}" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">返回</a>
				<h1>l拉拉</h1>
				<div data-role="navbar">
				  <ul>
					<li><a href="/mh/reader/{{ data.b_id }}/{{ data.prev_id }}" data-transition="slidefade">上一章</a></li>
					<li><a href="/mh/detail/{{ data.b_id }}">目录</a></li>
					<li><a href="/mh/reader/{{ data.b_id }}/{{ data.next_id }}" data-transition="slidefade">下一章</a></li>
				  </ul>
				</div>
			</div>
			<div data-role="content">
				<img class="comic-img" style="width: 100%;height: auto;" src="https://manhua.qpic.cn/manhua_detail/0/31_10_57_040260eb3308d2cbcca9cc80814b594d_25094.jpg/800" alt="""
            {{ data }}
               {% for img_url in data.img_urls %}
                    <img class="comic-img" style="width: 100%;height: auto;" src="https://manhua.qpic.cn/manhua_detail/0/31_10_57_040260eb3308d2cbcca9cc80814b594d_25094.jpg/800" alt=""
               {% endfor %}
				




			</div>
			<div data-role="footer">
				<div data-role="navbar">
				  <ul>
					<li><a href="#">上一章</a></li>
					<li><a href="#">目录</a></li>
					<li><a href="#">下一章</a></li>
				  </ul>
				</div>
			</div>
		</div>

	</body>
	<style>
		.comic-img{
			width: 100%;
			height: auto;
		}
	</style>
</html>
